@using HospedApp.Core.Entities;
@using HospedApp.Core.Entities.Relations
@model HotelRoom;
@{
    var texto = Model!.Address!.IdAddress != 0 ? "Agregar cuarto" : "Alta Hotel";
    ViewData["Title"] = texto;
}

<form asp-controller="Hotel" asp-action="AddRoom" method="post">
    <div asp-validation-summary="All"></div>
    @if (Model != null)
    {
        <div><input type="hidden" asp-for="@Model!.Address!.IdAddress" /></div>
    }
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Room!.IdRoom" class="form-label">Id del cuarto</label>
            <input asp-for="Room!.IdRoom" value="" class="form-control" placeholder="Ingrese la id del cuarto que desea agregar" required />
        </div>
    </div>
    <div class="mb-3">
        @if (Model!.Address!.IdAddress != 0)
        {
            <button type="submit" class="btn btn-warning">@texto</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">@texto</button>
        }
    </div>
</form>
<div>
    <br>

    <div class="input-group mb-3 input">
        <input id="searchInput" type="text" class="form-control" placeholder="Buscar">
    </div>

    <div>
        <h3>Lista de cuarto</h3>
        <div style="max-height: 300px; overflow-y: auto;">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Id del cuarto</th>
                        <th scope="col">Garage</th>
                        <th scope="col">Precio por noche</th> 
                        <th scope="col">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in (IEnumerable<Room>)ViewBag.Rooms)
                    {
                        <tr>
                            <td>@x.IdRoom</td>
                            <td>@x.Garage</td>
                            <td>@x.PriceNight</td>
                            <td>@x.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
