@using HospedApp.Core.Entities;
@using HospedApp.Core.Entities.Relations
@model Hotel;
@{
    ViewData["Title"] = "Hotels";
}

<div>
    <br>
    <div class=" text-center">
        <h1>Hotel @Model.Name</h1>
    </div>
    <br>

    <div class="input-group mb-3 input">
        <input id="searchInput" type="text" class="form-control" placeholder="Buscar">
        <a asp-action="RegisterAddress" asp-route-id="@Model.IdHotel" class="btn btn-primary">Agregar domicilio</a>
    </div>
    <div>
        @if (Model == null && Context.Request.RouteValues.ContainsKey("Index"))
        {
            <p>No se encontraron hoteles.</p>
        }
        else
        {
            <h3>Lista del hotel</h3>
            <div>
                <table class="table table-responsive table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Domicilio</th>
                            <th scope="col">Codigo postal</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var address in Model!.Addresses!)
                        {
                            <tr>
                                <td>@address.Domicile</td>
                                <td>@address.PostalCode</td>
                                <td>
                                    <a asp-action="ModifyAddress" asp-route-id="@address.IdAddress">Modificar</a>
                                    <a asp-action="DetailAddress" asp-route-id="@address.IdAddress">Detalle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>