@using HospedApp.Core.Entities;
@using HospedApp.Core.Entities.Relations
@model IEnumerable<HotelRoom>;
@{
    ViewData["Title"] = "Domicilio";
}

<div>
    <br>
    <div class=" text-center">
        <h1>Domicilio @ViewBag.Domicile</h1>
    </div>
    <br>
    <div class="input-group mb-3 input">
        <input id="searchInput" type="text" class="form-control" placeholder="Buscar">
        <a asp-action="SeeRoom" asp-route-id="@ViewBag.IdAddress" class="btn btn-primary">Agregar cuartos</a>
    </div>
    <div>
        @if (Model == null && Context.Request.RouteValues.ContainsKey("Index"))
        {
            <p>No se encontraron cuartos.</p>
        }
        else
        {
            <h3>Lista de cuartos del domicilio</h3>
            <div>
                <table class="table table-responsive table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Garage</th>
                            <th scope="col">Precio por noche</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Cama</th>
                            <th scope="col">Cantidad de cama</th>
                            <th scope="col">Numero de cuarto</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model!)
                        {
                            <tr>
                                <td>@x.RoomBed!.Room!.Garage</td>
                                <td>@x.RoomBed.Room!.PriceNight</td>
                                <td>@x.RoomBed.Room!.Description</td>
                                <td>@x.RoomBed.Bed!.Name</td>
                                <td>@x.RoomBed.BedQuantity</td>
                                <td>@x.Number</td>
                                <td>
                                    <a asp-controller="Room" asp-action="Modify" asp-route-id="@x.RoomBed.IdRoomBed">Modificar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>