@using HospedApp.Core.Entities;
@model IEnumerable<Hotel>;
@{
    ViewData["Title"] = "Hotels";
}

<div>
    <div>
        <h1>Buscar Hotels</h1>
    </div>

    <div>
        <input type="text" name="busqueda" placeholder="Buscar hotels..." />
        <button>Buscar</button>
    </div>

    <div>
        @if (Model.Count() == 0 && Context.Request.RouteValues.ContainsKey("Index"))
        {
            <p>No se encontraron hotels.</p>
        }
        else
        {
            <h3>Lista de Hotels</h3>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Web</th>
                            <th scope="col">Star</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hotel in Model)
                        {
                            <tr>
                                <td>@hotel.Name</td>
                                <td>@hotel.Email</td>
                                <td>@hotel.Web</td>
                                <td>@hotel.Star</td>
                                <td>
                                    <a asp-action="Modify" asp-route-dni="@hotel.IdHotel">Modificar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>