@using HospedApp.Core.Entities;
@using HospedApp.Core.Entities.Relations
@model IEnumerable<RoomBed>;
@{
    ViewData["Title"] = "Rooms";
}

<div>
    <br>
    <div class=" text-center">
        <h1>Buscar cuartos</h1>
    </div>
    <br>

    <div class="input-group mb-3 input">
        <input id="searchInput" type="text" class="form-control" placeholder="Buscar">
    </div>
    <div>
        @if (Model.Count() == 0 && Context.Request.RouteValues.ContainsKey("Index"))
        {
            <p>No se encontraron cuartos.</p>
        }
        else
        {
            <h3>Lista de cuartos</h3>
            <div>
                <table class="table table-responsive table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Id del cuarto</th>
                            <th scope="col">Garage</th>
                            <th scope="col">Cama</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Precio por noche</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var roomBed in Model)
                        {
                            <tr>
                                <td>@roomBed.IdRoomBed</td>
                                <td>@roomBed.Room!.Garage</td>
                                <td>@roomBed.Bed!.Name</td>
                                <td>@roomBed.BedQuantity</td>
                                <td>@roomBed.Room.Description</td>
                                <td>@roomBed.Room.PriceNight</td>
                                <td>
                                    <a asp-action="Modify" asp-route-id="@roomBed.IdRoomBed">Modificar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>