@using HospedApp.Core.Entities;
@model IEnumerable<Client>;
@{
    ViewData["Title"] = "Clientes";
}

<div>
    <br>
    <div class=" text-center">
        <h1>Buscar Clientes</h1>
        <br>
    </div>

    <div class="input-group mb-3 input">
        <input id="searchInput" type="text" class="form-control" placeholder="Buscar">
    </div>
    <div>
        @if (Model.Count() == 0 && Context.Request.RouteValues.ContainsKey("Index"))
        {
            <p>No se encontraron clientes.</p>
        }
        else
        {
            <h3>Lista de Clientes</h3>
            <div>
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Dni</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Email</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in Model)
                        {
                            <tr>
                                <td>@client.Dni</td>
                                <td>@client.Name</td>
                                <td>@client.LastName</td>
                                <td>@client.Sex</td>
                                <td>@client.Email</td>
                                <td colspan="2">
                                    <a asp-action="Modify" asp-route-id="@client.IdClient">Modificar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>