@using HospedApp.Core.Entities;
@model IEnumerable<Client>;
@{
    ViewData["Title"] = "Clientes";
}

<div>
    <div>
        <h1>Buscar Clientes</h1>
    </div>

    <div>
        <input type="text" name="busqueda" placeholder="Buscar clientes..." />
        <button>Buscar</button>
    </div>

    <div>
        @if (Model.Count() == 0 && Context.Request.RouteValues.ContainsKey("Index"))
        {
            <p>No se encontraron clientes.</p>
        }
        else
        {
            <h3>Lista de Clientes</h3>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Dni</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Email</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in Model)
                        {
                            <tr>
                                <th>@client.Dni</th>
                                <td>@client.Name</td>
                                <td>@client.LastName</td>
                                <td>@client.Sex</td>
                                <td>@client.Phone</td>
                                <td>@client.Email</td>
                                <td>
                                    <a asp-action="Modificar" asp-route-dni="@client.IdClient">Modificar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>